<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/bus-logo.ico">
    <link rel="stylesheet" href="~/css/setup.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @await RenderSectionAsync("Styles", required: false)
    <title>UrbanLife - @ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav class="main-nav">
            <span id="main-logo">UrbanLife</span>
            <ul>
                @if (ViewBag.User != null)
                {
                    <li class="nav-list-item">
                        <span>Здравейте, @ViewBag.User.FirstName</span>
                    </li>
                }
                <li class="nav-list-item">
                    <a class="nav-anchor" href="/">Начало</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-anchor" href="#">Пътувай</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-anchor" href="#">Разписание</a>
                </li>
                @if (ViewBag.User != null)
                {
                    <li class="nav-list-item">
                        <a class="nav-anchor" href="#">Абонаменти</a>
                    </li>
                }
                <li class="nav-list-item">
                    <div class="image-container">
                        @if (ViewBag.User != null)
                        {
                            <img class="profile-picture" src="~/images/profile-pictures/@ViewBag.ProfilePictureName" alt="Профил" />
                        }
                        else
                        {
                            <img class="profile-picture" src="~/images/profile-pictures/guest.png" alt="Профил" />
                        }
                    </div>
                </li>
            </ul>
        </nav>
        <!--User profile html-->
        <aside id="profile-menu" style="display: none">
            <ul class="profile-menu-list">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="profile-menu-list-item">
                        <span class="profile-item">Гост</span>
                    </li>
                    <li class="profile-menu-list-item">
                        <a id="log-in-btn" class="nav-anchor profile-item" href="/user/login">Вписване</a>
                    </li>
                    <li class="profile-menu-list-item">
                        <a class="nav-anchor profile-item" href="/user/register">Регистрация</a>
                    </li>
                }
                else
                {
                    <li class="profile-menu-list-item">
                        <span class="profile-item">@ViewBag.User.FirstName @ViewBag.User.LastName</span>
                    </li>
                    <li class="profile-menu-list-item">
                        <a class="nav-anchor profile-item" href="/user/account/settings/@ViewBag.User.Id">
                            <i class="fa-solid fa-user"></i>
                            &ensp;Профил
                        </a>
                    </li>
                    <li class="profile-menu-list-item">
                        <a class="nav-anchor profile-item" href="#">
                            <i class="fa-solid fa-ticket"></i>
                            &ensp;Покупки
                        </a>
                    </li>
                    <li class="profile-menu-list-item">
                        <a class="nav-anchor profile-item" href="#">
                            <i class="fa-solid fa-credit-card"></i>
                            &ensp;Банкови карти
                        </a>
                    </li>
                    <li class="profile-menu-list-item">
                        <a id="log-out-btn" class="nav-anchor profile-item" href="/user/logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            &ensp;Отписване
                        </a>
                    </li>
                }
            </ul>
        </aside>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <section id="footer-info">
            <div class="footer-info-card">
                <h3>Контакти</h3>
                <ul class="contacts-list">
                    <li>
                        <span>
                            <i class="fa-solid fa-phone-volume"></i>  +359 0000 00000
                        </span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-map-pin"></i>   България, София</span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i>   mocking.address@test.com</span>
                    </li>
                </ul>
            </div>
            <div class="footer-info-card">
                <h3>Нашата цел</h3>
                <p>
                    Целта на UrbanLife е интеграция, дигитализация и улеснение на системата
                    за градски транспорт.
                </p>
            </div>
            <div class="footer-info-card">
                <h3>Информация за съдържанието</h3>
                <p>
                    Съдържанието и данните, използвани в това уеб приложение, касащи потребители,
                    линии, спирки, разплащателна информация, контакти и тн., не са истински!
                    Ползват се само с цел обучение и дипломиране!
                </p>
            </div>
        </section>
        <section id="footer-copyright">
            <p class="footer-copyright-item">&#169; 2023 "ЪрбънЛайф" АД България, всички права запазени.</p>
            <p class="footer-copyright-item">Автор - Борис Евтимов, България, София</p>
        </section>
    </footer>
    <script src="~/js/profilePartialMenu.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>