@using UrbanLife.Core.ViewModels;
@using UrbanLife.Data.Data.Models;
@using UrbanLife.Data.Enums;
@model MySubscriptionViewModel
@{
    ViewData["Title"] = "Моите абонаменти";
}

<div class="image-background-container">
    <img src=~/images/my_subscriptions-background.jpg />
</div>
<input type="hidden" id="current-page" value=@Model.CurrentPage />
<input type="hidden" id="chosen-line" value=@Model.LineFilter />
<h1 class="main-title">Моите абонаменти</h1>
@if (Model.Receipts.Count > 0)
{
    <p>Сортиране по: </p>
    <div class="filter-container">
        @if (Model.IsPurchaseDateDesc)
        {
            <button id="purchase-filter" class="main-form-input">Дата на закупуване &nbsp; <i class="fa-solid fa-arrow-down"></i></button>
        }
        else
        {
            <button id="purchase-filter" class="main-form-input">Дата на закупуване &nbsp; <i class="fa-solid fa-arrow-up"></i></button>
        }
        <label>Валидност</label>
        <label class="form-control">
            <input type="checkbox" class="filter-input" id="valid-filter" checked=@Model.IsValidFilter />
        </label>
        <label>Линии</label>
        <select class="filter-input main-select-input" id="lines-filter">
            <option value="all">Без филтър</option>
            @if (Model.HasAllLines)
            {
                <option value="all-lines">Всички</option>
            }
            @if (Model.Lines.Any(l => l.Type == LineType.BUS))
            {
                <optgroup label="Автобус">
                    @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.BUS))
                    {
                        <option value=@line.Id>@line.Number</option>
                    }
                </optgroup>
            }
            @if (Model.Lines.Any(l => l.Type == LineType.TRAM))
            {
                <optgroup label="Трамвай">
                    @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TRAM))
                    {
                        <option value=@line.Id>@line.Number</option>
                    }
                </optgroup>
            }
            @if (Model.Lines.Any(l => l.Type == LineType.TROLLEY))
            {
                <optgroup label="Тролей">
                    @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TROLLEY))
                    {
                        <option value=@line.Id>@line.Number</option>
                    }
                </optgroup>
            }
        </select>
    </div>
    <section class="receipts-section">
        <div class="receipts-container">
            @foreach (MySubscriptionDTO receipt in Model.Receipts)
            {
                <div class="receipt-card">
                    <div class="receipt-validation-container">
                        @if (receipt.IsValid)
                        {
                            <span>Валиден</span>
                        }
                        else
                        {
                            <span>Невалиден</span>
                        }
                    </div>
                    <iframe src="~/images/receipts/@(receipt.PurchaseId).pdf#toolbar=0&view=Fit" class="frame-item" height="420px" frameborder="0">
                    </iframe>
                </div>
            }
        </div>
        <div class="page-navigation-container">
            <span>Страница</span>
            <div class="page-navigation-links">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <a href="/user/account/subscriptions?page=@i&purchaseDateDesc=@Model.IsPurchaseDateDesc&isValid=@Model.IsValidFilter&line=@Model.LineFilter"
                       class="nav-page-link">@i</a>
                }
            </div>
        </div>
    </section>
}
else
{
    <p>Сортиране по: </p>
    <div class="filter-container">
        @if (Model.IsPurchaseDateDesc)
        {
            <button id="purchase-filter" class="main-form-input">Дата на закупуване &nbsp; <i class="fa-solid fa-arrow-down"></i></button>
        }
        else
        {
            <button id="purchase-filter" class="main-form-input">Дата на закупуване &nbsp; <i class="fa-solid fa-arrow-up"></i></button>
        }
        <label>Валидност</label>
        <label class="form-control">
            <input type="checkbox" class="filter-input" id="valid-filter" checked=@Model.IsValidFilter />
        </label>
        <label>Линии</label>
        <select class="filter-input main-select-input" id="lines-filter">
            <option value="all">Без филтър</option>
            @if (Model.HasAllLines)
            {
                <option value="all-lines">Всички</option>
            }
            @if (Model.Lines.Any(l => l.Type == LineType.BUS))
            {
                <optgroup label="Автобус">
                    @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.BUS))
                    {
                        <option value=@line.Id>@line.Number</option>
                    }
                </optgroup>
            }
            @if (Model.Lines.Any(l => l.Type == LineType.TRAM))
            {
                <optgroup label="Трамвай">
                    @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TRAM))
                    {
                        <option value=@line.Id>@line.Number</option>
                    }
                </optgroup>
            }
            @if (Model.Lines.Any(l => l.Type == LineType.TROLLEY))
            {
                <optgroup label="Тролей">
                    @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TROLLEY))
                    {
                        <option value=@line.Id>@line.Number</option>
                    }
                </optgroup>
            }
        </select>
    </div>
    <h2>Нямате такива абонаменти!</h2>
    <a href="/subscription/all" class="main-input anchor-button submit-btn">Избиране на абонамент</a>
}

@section Styles {
    <link rel="stylesheet" href="~/css/my-subscription.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/mySubscriptions.js"></script>
}