@using UrbanLife.Core.Utilities.Constants;
@using UrbanLife.Core.ViewModels;
@using UrbanLife.Data.Data.Models;
@using UrbanLife.Data.Enums;
@model BuySubscriptionViewModel
@{
    ViewData["Title"] = "Покупка на абонамент";
}

@if (Model.SubscriptionType == SubscriptionType.CARD)
{
    <h1 class="title">Ценоразпис за карта</h1>
}
else if (Model.SubscriptionType == SubscriptionType.TICKET)
{
    <h1 class="title">Ценоразпис за билет</h1>
}
<div class="image-background-container">
    <img src=~/images/19199683.jpg />
</div>
<section class="rates">
    @if (Model.SubscriptionType == SubscriptionType.CARD)
    {
        <table class="rate-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="table-price" colspan="2">Цена</th>
                </tr>
                <tr>
                    <th>Време</th>
                    <th>Една линия</th>
                    <th>Всички линии</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 месец</td>
                    <td>@(Domain.CardOneMonthLine) лв.</td>
                    <td>@(Domain.CardOneMonthAll) лв.</td>
                </tr>
                <tr>
                    <td>3 месеца</td>
                    <td>@(Domain.CardThreeMonthLine) лв.</td>
                    <td>@(Domain.CardThreeMonthAll) лв.</td>
                </tr>
                <tr>
                    <td>1 година</td>
                    <td>@(Domain.CardOneYearLine) лв.</td>
                    <td>@(Domain.CardOneYearAll) лв.</td>
                </tr>
            </tbody>
        </table>
    }
    else if (Model.SubscriptionType == SubscriptionType.TICKET)
    {
        <table class="rate-table">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">Цена</th>
                </tr>
                <tr>
                    <th>Време</th>
                    <th>Една линия</th>
                    <th>Всички линии</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Еднократно</td>
                    <td>@(Domain.TicketLineOneTime) лв.</td>
                    <td><i class="fa-solid fa-circle-xmark"></i></td>
                </tr>
                <tr>
                    <td>30 минути</td>
                    <td>@(Domain.TicketHalfHour) лв.</td>
                    <td><i class="fa-solid fa-circle-xmark"></i></td>
                </tr>
                <tr>
                    <td>60 минути</td>
                    <td>@(Domain.TicketOneHour) лв.</td>
                    <td><i class="fa-solid fa-circle-xmark"></i></td>
                </tr>
                <tr>
                    <td>24 часа</td>
                    <td><i class="fa-solid fa-circle-xmark"></i></td>
                    <td>@(Domain.TicketOneDayAll) лв.</td>
                </tr>
            </tbody>
        </table>
    }
</section>

<form action="/subscription/purchase" method="post" class="subscription-form">
    <input asp-for=@Model.FinalPrice type="hidden" class="final-hidden-price" />
    <input asp-for=@Model.SubscriptionType type="hidden" class="subscription-type" value=@Model.SubscriptionType />
    <input asp-for=@Model.ChosenLines type="hidden" class="hidden-chosen-lines" />
    @if (Model.SubscriptionType == SubscriptionType.CARD)
    {
        <p>Избран абонамент: <b>карта</b></p>
        <div class="form-row">
            <div class="input-grup">
                <label>Зареждане за:</label>
                <select asp-for=@Model.ChosenDuration class="duration main-select-input">
                    <option value="1-month">1 месец</option>
                    <option value="3-month">3 месеца</option>
                    <option value="1-year">1 година</option>
                </select>
            </div>
            <div class="input-group">
                <label asp-for=@Model.ChosenCardStartDate>Влиза в сила от:</label>
                <input asp-for=@Model.ChosenCardStartDate type="date" min=@DateTime.Now.ToString("yyyy-MM-dd") class="main-select-input" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-col">
                <label class="lines-label">Изберете линии</label>
                <select class="lines-list main-select-input card-lines" multiple>
                    <option value="all-lines">Всички</option>
                    <optgroup label="Автобус">
                        @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.BUS).OrderBy(l => l.Number))
                        {
                            <option value="@line.Number-@line.Type">@line.Number</option>
                        }
                    </optgroup>
                    <optgroup label="Трамвай">
                        @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TRAM).OrderBy(l => l.Number))
                        {
                            <option value="@line.Number-@line.Type">@line.Number</option>
                        }
                    </optgroup>
                    <optgroup label="Тролей">
                        @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TROLLEY).OrderBy(l => l.Number))
                        {
                            <option value="@line.Number-@line.Type">@line.Number</option>
                        }
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-row">
            <p>Избрани линии: <span class="chosen-lines"></span></p>
        </div>
    }
    else if (Model.SubscriptionType == SubscriptionType.TICKET)
    {
        <p>Избран абонамент: <b>билет</b></p>
        <div class="form-row">
            <label>Валидност за:</label>
            @if (Model.LineType.HasValue && Model.LineNumber.HasValue)
            {
                <select asp-for=@Model.ChosenDuration class="duration main-select-input" disabled>
                    <option value="one-way" selected>еднократно</option>
                </select>
            }
            else
            {
                <select asp-for=@Model.ChosenDuration class="duration main-select-input">
                    <option value="1-day" selected>1 ден</option>
                    <option value="30-minute">30 минути</option>
                    <option value="60-minute">60 минути</option>
                    <option value="one-way">еднократно</option>
                </select>
            }

            <label asp-for=@Model.ChosenTicketStartTime>Влиза в сила от:</label>
            @if (Model.ChosenTicketStartTime.HasValue)
            {
                <input asp-for=@Model.ChosenTicketStartTime type="time" class="main-select-input" value=@Model.ChosenTicketStartTime.Value.ToString(@"hh\:mm") disabled />
            }
            else
            {
                <input asp-for=@Model.ChosenTicketStartTime type="time" min=@DateTime.Now.TimeOfDay.ToString(@"hh\:mm") class="main-select-input" />
            }
        </div>
        <div class="input-group">
            <label>Изберете линия</label>
            @if (Model.LineType.HasValue && Model.LineNumber.HasValue)
            {
                <select class="lines-list main-select-input" disabled>
                    <option value="@Model.LineNumber - @Model.LineType.ToString()" selected>@Model.LineNumber</option>
                </select>
            }
            else
            {
                <select class="lines-list main-select-input">
                    <option value="all-lines">Всички</option>
                    <optgroup label="Автобус">
                        @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.BUS).OrderBy(l => l.Number))
                        {
                            <option value="@line.Number-@line.Type">@line.Number</option>
                        }
                    </optgroup>
                    <optgroup label="Трамвай">
                        @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TRAM).OrderBy(l => l.Number))
                        {
                            <option value="@line.Number-@line.Type">@line.Number</option>
                        }
                    </optgroup>
                    <optgroup label="Тролей">
                        @foreach (Line line in Model.Lines.Where(l => l.Type == LineType.TROLLEY).OrderBy(l => l.Number))
                        {
                            <option value="@line.Number-@line.Type">@line.Number</option>
                        }
                    </optgroup>
                </select>
            }
        </div>
        <div class="form-row">
            <p>Избрана линия: <span class="chosen-lines"></span></p>
        </div>
    }
    <div class="form-row">
        <p class="total-price"></p>
    </div>
    @if (Model.Cards.Count != 0)
    {
        <div class="input-group">
            <label>Платежен метод:</label>
            <select asp-for=@Model.ChosenCardNumber class="payment-method main-select-input">
                @foreach (SubscriptionPaymentViewModel payment in Model.Cards)
                {
                    @if (payment.IsDefault)
                    {
                        <option value=@payment.CardNumber selected>@payment.CardNumber</option>
                        <i class="fa-solid fa-circle-xmark"></i>
                        continue;
                    }

                    <option value=@payment.CardNumber>@payment.CardNumber</option>
                }
            </select>
        </div>
        <div class="form-row">
            <span class="default-payment"><i class="fa-solid fa-circle-check"></i> По подразбиране!</span>
        </div>
        <div class="form-row">
            <p class="funds"></p>
        </div>
        <div class="messages">
            <span class="cheaper-option form-text-warning"></span>
            <span class="invalid-combination form-text-danger"></span>
            <span class="insufficient-funds form-text-danger"></span>
        </div>
        <div class="form-row">
            <input type="submit" class="submit-btn main-form-input" value="Плащане" />
        </div>
    }
    else
    {
        <div class="form-row">
            <p class="form-text-warning">Нямате добавени платежни методи!</p>
        </div>
        <div class="form-row">
            <a href="/user/account/addPayment" class="anchor-button main-form-input submit-btn">Добави платежен метод</a>
        </div>
    }
</form>

@section Styles {
    <link rel="stylesheet" href="~/css/purchase-subscription.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/purchaseSubscription.js"></script>
}